@media screen and (max-device-width: 414px) {
  .screen1,
  .screen2,
  .screen3,
  .screen4,
  .basement,
  .inside-box,
  .canvas,
  .screen21,
  #backgroundlines {
    display: none;
  }
  /* ПЕРВЫЙ ЭКРАН */
  .psevdosection1 {
    display: flex;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .psevdoimage1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/psevdobackground.svg);
    height: 200vw;
    width: 100vw;
    z-index: -1;
    transition: transform 1.5s ease;
  }
  .psevdotext1 {
    position: absolute;
    color: white;
    font-size: 9vw;
    margin-top: 100vw;
    text-align: center;
    letter-spacing: 0.5vw;
    margin-left: 4vw;
  }
  .psevdobackground1 {
    background-image: url(../images/psevdobackground1.svg);
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 200vw;
    position: absolute;
  }

  .psevdotext2 {
    position: absolute;
    margin-left: 14vw;
    color: white;
    margin-top: 84vw;
    font-size: 20vw;
    z-index: -2;
    animation: shake 0.5s infinite;
  }
  .psevdohint1 {
    background-image: url(../images/hint.svg);
    z-index: 2;
    height: 12vw;
    width: 10vw;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    margin-top: 85vw;
    margin-left: 47vw;
  }

  /* ВТОРОЙ ЭКРАН */
  .psevdoscreen2 {
    display: flex;
    position: relative;
    width: 100vw;
  }

  .psevdotext3 {
    font-size: 5vw;
    color: white;
    word-spacing: 1vw;
    letter-spacing: 0.5vw;
    margin-top: 15vw;
    margin-left: 16vw;
  }

  .psevdosection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .psevdopuzzle {
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vw;
  }
  .psevdoelementik {
    background-repeat: no-repeat;
    background-size: cover;
    width: 40.5vw;
    height: 58vw;
    transition: transform 0.2s ease-in-out;
  }

  .psevdoelement3,
  .psevdoelement4 {
    margin-top: -0.3vw;
  }

  /* ТРЕТИЙ ЭКРАН */
  .psevdoscreen3 {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6vw;
  }
  .psevdotext4 {
    font-size: 5vw;
    color: white;
    margin-top: 4vw;
    word-spacing: 1vw;
    letter-spacing: 0.5vw;
  }
  .psevdoinsidebox {
    height: 180vw;
    display: flex;
  }
  .psevdocontour1 {
    background-image: url(../images/contour1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 22vw;
    height: 51vw;
    position: absolute;
    margin-left: 15vw;
    margin-top: 8vw;
    z-index: -1;
  }
  #psevdosilhouette1header {
    margin-left: 57vw;
    margin-top: 0vw;
    cursor: pointer;
  }
  #psevdosilhouette1 {
    width: 32vw;
    height: 68vw;
    position: absolute;
  }
  .psevdocontour2 {
    background-image: url(../images/contour4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 33vw;
    height: 52vw;
    position: absolute;
    margin-left: 55vw;
    margin-top: 65vw;
    z-index: -1;
  }
  #psevdosilhouette2header {
    margin-left: -48vw;
    margin-top: 65vw;
    cursor: pointer;
  }
  #psevdosilhouette2 {
    width: 31vw;
    height: 50vw;
    position: absolute;
  }
  .psevdocontour3 {
    background-image: url(../images/contour5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25vw;
    height: 53vw;
    position: absolute;
    margin-left: 15vw;
    margin-top: 123vw;
    z-index: -1;
  }
  #psevdosilhouette3header {
    margin-left: 48vw;
    margin-top: 123vw;
    cursor: pointer;
  }
  #psevdosilhouette3 {
    width: 34vw;
    height: 52vw;
    position: absolute;
  }

  /* ЧЕТВЕРТЫЙ ЭКРАН */

  .psevdoscreen4 {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8vw;
  }
  .psevdotext5 {
    font-size: 5vw;
    color: white;
    margin-top: 5vw;
    word-spacing: 1vw;
    letter-spacing: 0.5vw;
  }
  .psevdocanvas {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: crosshair;
    height: 140vw;
    margin-top: -5vw;
  }
  #psevdocanvas {
    position: absolute;
    width: 100vw;
    height: 130vw;
    z-index: 10;
    margin-top: 0vw;
  }
  .psevdolabyrinth {
    background-image: url(../images/psevdolabyrinth.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 79vw;
    height: 117vw;
    margin-top: 3vw;
  }
  #psevdoclear {
    position: absolute;
    margin-top: 130vw;
    z-index: 10;
    height: 12vw;
    width: 24vw;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  /* ПСЕВДОПОДВАЛ */
  .psevdobasement {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    margin-top: 10vw;
    height: 170vw;
  }
  .psevdoseats {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/psevdoseats.svg);
    width: 100vw;
    height: 177vw;
    position: absolute;
  }
  #psevdohintbase1 {
    background-image: url(../images/hint.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 11vw;
    width: 9vw;
    position: absolute;
    margin-top: 100vw;
    margin-left: 7vw;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  #psevdohintbase2 {
    background-image: url(../images/hint.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 11vw;
    width: 9vw;
    position: absolute;
    margin-top: 67vw;
    margin-left: 45vw;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  #psevdohintbase3 {
    background-image: url(../images/hint.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 11vw;
    width: 9vw;
    position: absolute;
    margin-top: 100vw;
    margin-left: 80vw;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  #psevdoanna {
    width: 30vw;
    height: 48vw;
    position: absolute;
    margin-top: 75vw;
    margin-left: 0vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  #psevdokate {
    width: 25vw;
    height: 47vw;
    position: absolute;
    margin-top: 40vw;
    margin-left: 35vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  #psevdokamila {
    width: 25vw;
    height: 47vw;
    position: absolute;
    margin-top: 70vw;
    margin-left: 70vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
