@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.hint1:hover {
  transform: scale(1.1);
  filter: grayscale(30%) brightness(50%);
}
#hintbase1:hover {
  transform: scale(1.1);
  filter: grayscale(30%) brightness(50%);
}

#hintbase2:hover {
  transform: scale(1.1);
  filter: grayscale(30%) brightness(50%);
}
#hintbase3:hover {
  transform: scale(1.1);
  filter: grayscale(30%) brightness(50%);
}
