@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.hint1:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}
#hintbase1:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}

#hintbase2:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}
#hintbase3:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}

#readybutton:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}
#clear:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}

/* АДАПТИВКИ  */
.psevdohint1:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}

#psevdoclear:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}
#psevdohintbase1:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}

#psevdohintbase2:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}
#psevdohintbase3:hover {
  transform: scale(1.07);
  filter: grayscale(50%) brightness(70%);
}
