body {
  background-color: black;
}
p {
  font-family: 'Kontrabanda';
}
section {
  width: 100vw;
  overflow: hidden;
}
.screen1 {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
}
.image1 {
  background-image: url(../images/leftbackstage.svg);
  height: 65vw;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 1s ease;
}
.image2 {
  background-image: url(../images/rightbackstage.svg);
  height: 65vw;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 1s ease;
}
.text1 {
  position: absolute;
  margin-left: 8vw;
  margin-top: 35vw;
  color: white;
  font-size: 5vw;
}
.hint1 {
  background-image: url(../images/hint.svg);
  z-index: 2;
  height: 6vw;
  width: 5vw;
  position: absolute;
  margin-left: 48vw;
  margin-top: 27vw;
  /* background-color: #660000; */
  background-repeat: no-repeat;
  background-size: cover;
}
.background1 {
  background-image: url(../images/background1.svg);
  z-index: -2;
  width: 57vw;
  height: 65vw;
  position: absolute;
  margin-left: 21vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.text2 {
  position: absolute;
  margin-left: 32vw;
  color: white;
  margin-top: 28vw;
  font-size: 10vw;
  z-index: -2;
  animation: shake 0.5s infinite;
}
.screen2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.text3 {
  font-size: 7vw;
  color: white;
  margin-top: 6vw;
}
.inside-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen21 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4vw;
  width: 70vw;
}
.elementphoto1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/element1.svg);
  height: 24vw;
  width: 16.9vw;
  transition: opacity 0.5s ease;
  opacity: 1;
}
.elementphoto2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/element2.svg);
  height: 24vw;
  width: 16.9vw;
}
.elementphoto3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/element3.svg);
  height: 24vw;
  width: 16.9vw;
}
.elementphoto4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/element4.svg);
  height: 24vw;
  width: 16.9vw;
}
.elementphoto5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/element5.svg);
  height: 24vw;
  width: 16.9vw;
}
.elementphoto6 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/element6.svg);
  height: 24vw;
  width: 16.9vw;
}
.elementphoto7 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/element7.svg);
  height: 24vw;
  width: 16.9vw;
}
.elementphoto8 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/element8.svg);
  height: 24vw;
  width: 16.9vw;
}

.screen3 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4vw;
}
.text4 {
  font-size: 7vw;
  color: white;
  margin-top: 4vw;
}

.screen31 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4vw;
  align-items: center;
  width: 80vw;
}
.inside-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contour1 {
  background-image: url(../images/contour1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 9.5vw;
  height: 22.5vw;
}
#silhouette5 {
  background-image: url(../images/silhouette5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 11vw;
  height: 23vw;
  margin-left: 5vw;
  position: relative;
}

.contour2 {
  background-image: url(../images/contour2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 10.5vw;
  height: 23vw;
  margin-left: 5vw;
}
#silhouette4 {
  background-image: url(../images/silhouette4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 15.5vw;
  height: 24vw;
  margin-left: 5vw;
}
.contour3 {
  background-image: url(../images/contour3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 11.5vw;
  height: 23vw;
  margin-left: 5vw;
}
#silhouette2 {
  background-image: url(../images/silhouette2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 10.5vw;
  height: 23vw;
}
.contour4 {
  background-image: url(../images/contour4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 15.5vw;
  height: 24vw;
  margin-left: 5vw;
}
#silhouette3 {
  background-image: url(../images/silhouette3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 11.5vw;
  height: 23vw;
  margin-left: 5vw;
}
.contour5 {
  background-image: url(../images/contour5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 11vw;
  height: 23vw;
  margin-left: 5vw;
}
#silhouette1 {
  background-image: url(../images/silhouette1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 9.5vw;
  height: 22.5vw;
  margin-left: 5vw;
}

.screen4 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4vw;
}
.text5 {
  font-size: 7vw;
  color: white;
  margin-top: 4vw;
}
#canvas {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3vw;
  align-items: center;
  position: relative;
  cursor: crosshair;
}
.labyrinth {
  background-image: url(../images/labyrinth.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 53vw;
  height: 53vw;
  margin-top: 2vw;
}
.hint11 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hint.svg);
  height: 6vw;
  width: 5vw;
  position: absolute;
  margin-left: 60vw;
  margin-top: 43vw;
}
.hint2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hint2.svg);
  height: 6vw;
  width: 5vw;
  position: absolute;
  margin-left: 60vw;
  margin-top: -38vw;
}
.hint3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hint3.svg);
  height: 6vw;
  width: 5vw;
  position: absolute;
  margin-left: 60vw;
  margin-top: 2vw;
}
.circle {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/circle.svg);
  height: 8vw;
  width: 7vw;
  position: absolute;
  margin-left: -62vw;
  margin-top: 43vw;
}
.basement {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.seats {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/seats.svg);
  width: 100vw;
  height: 65vw;
}
.hintbase1 {
  background-image: url(../images/hint.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6vw;
  width: 5vw;
  position: absolute;
  margin-top: -25vw;
  margin-left: 14vw;
}
.hintbase2 {
  background-image: url(../images/hint.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6vw;
  width: 5vw;
  position: absolute;
  margin-top: -36vw;
  margin-left: 44vw;
}
.hintbase3 {
  background-image: url(../images/hint.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6vw;
  width: 5vw;
  position: absolute;
  margin-top: -25vw;
  margin-left: 76vw;
}
